.vscode
__pycache__
slurm-*
checkpoints
wandb

usefull_commands.txt
script_new_install.sh
benchmark_*.sh
run_sweeps_gpu*.sh
job.sh
setup.sh
train_models.py

run_*
eval_*
models
notebooks

downloads
fashion_mnist