absl-py==1.4.0
addict==2.4.0
anyio @ file:///tmp/build/80754af9/anyio_1644463572971/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
array-record==0.4.0
arrow==1.2.3
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
attrs @ file:///croot/attrs_1668696182826/work
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
black==23.7.0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3==1.28.3
botocore==1.31.3
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
bravado==11.0.3
bravado-core==5.17.1
brotlipy==0.7.0
cachetools==5.3.1
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chex==0.1.7
click @ file:///tmp/build/80754af9/click_1646056590078/work
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
comm @ file:///croot/comm_1671231121260/work
conda==4.11.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639414572950/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///croot/cytoolz_1667465931118/work
dask @ file:///croot/dask-core_1686782904390/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dm-haiku==0.0.9
dm-tree==0.1.8
docker-pycreds==0.4.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
etils==1.3.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
flatbuffers==23.5.26
flax==0.7.0
fonttools==4.25.0
fqdn==1.5.1
fsspec @ file:///croot/fsspec_1682525977151/work
future==0.18.3
gast==0.4.0
gin-config==0.5.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
grpcio==1.56.0
h5py @ file:///tmp/abs_4aewd3wzey/croots/recipe/h5py_1659091371897/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///croot/imagecodecs_1677576717595/work
imageio @ file:///croot/imageio_1687264943895/work
importlib-metadata==6.8.0
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
install==1.3.5
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isoduration==20.11.0
jax==0.4.13
jaxlib==0.4.13+cuda11.cudnn86
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==1.0.1
jmp==0.0.4
joblib @ file:///croot/joblib_1685113087166/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpointer==2.4
jsonref==1.1.0
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
keras==2.13.1
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
# Editable Git install with no remote (learned-optimization==0.0.1)
-e /btherien/github/learned_optimization
libclang==16.0.0
locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
ml-dtypes==0.2.0
mmengine==0.8.4
monotonic==1.6
msgpack==1.0.5
munkres==1.1.4
mypy-extensions==1.0.0
nbclassic @ file:///croot/nbclassic_1681756170010/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290509967/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
neptune-client==1.3.2
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx @ file:///croot/networkx_1678964333703/work
nose==1.3.7
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numexpr @ file:///croot/numexpr_1683221822650/work
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.8.0.76
opt-einsum==3.3.0
optax==0.1.5
orbax-checkpoint==0.2.7
oryx==0.0.0.post1
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathspec==0.11.1
pathtools==0.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs==3.10.0
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
promise==2.3
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==4.23.4
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///croot/pygments_1684279966437/work
PyJWT==2.7.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1671697431263/work
PyWavelets @ file:///croot/pywavelets_1670425177960/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///croot/pyzmq_1686601365461/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.4.2
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
s3transfer==0.6.1
scikit-image @ file:///croot/scikit-image_1669241743693/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy==1.10.1
seaborn @ file:///croot/seaborn_1673479180098/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentry-sdk==1.28.1
setproctitle==1.3.2
simplejson==3.19.1
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==5.0.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
soupsieve @ file:///croot/soupsieve_1680518478486/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
swagger-spec-validator==3.0.3
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorstore==0.1.40
termcolor==2.3.0
terminado @ file:///croot/terminado_1671751832461/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss2 @ file:///croot/tinycss2_1668168815555/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
toolz @ file:///croot/toolz_1667464077321/work
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///croot/traitlets_1671143879854/work
typing_extensions==4.5.0
uri-template==1.3.0
urllib3==1.26.16
wandb==0.15.5
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614803975924/work
Werkzeug==2.3.6
wrapt==1.15.0
yapf==0.40.1
zipp @ file:///croot/zipp_1672387121353/work
